.btn-primary {
    padding: 1.4rem 2.3rem;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 10rem;
    background-color: $purple-10;
    color: $gray-100;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
    transition: background-color .3s ease;

    &:hover {
        background-color: $purple-20;
    }
}

.form-email {
    padding: 0.4rem 0.4rem 0.4rem 2.4rem;
    border-radius: 10rem;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255, 255, 255, 0.04);
    max-width: 52.1rem;
    @include flex-center;
    gap: 1.6rem;

    input {
        all: unset;
        flex: 1;
        color: $gray-100;
        font-size: 1.6rem;
        line-height: 150%;

        &::placeholder {
            color: $gray-300;
        }
    }
}

.card {
    width: 100%;
    max-width: 22.5rem;

    .icon {
        width: 4.8rem;
        height: 4.8rem;
        padding: 1.1rem;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.03);
        background: rgba(255, 255, 255, 0.03);
        margin-bottom: 1.6rem;
    }

    .text {
        h6 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 1.6rem;
        }

        p {
            color: $gray-600;
            font-size: 1.6rem;
            line-height: 150%;
        }
    }
}

.review {
    @include flex-center;
    gap: 0.8rem;

    div {
        @include flex-center;
        gap: 0.4rem;

        p {
            color: $gray-100;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 150%;

            span {
                color: $gray-600;
                font-weight: 400;
            }
        }
    }
}