@mixin flex-center {
    display: flex;
    align-items: center;
}

$breakpoints: (
    'laptop': 1200px,
    'tablet': 991px,
    'mobile': 560px
);

@mixin responsivo($breakpoint-name) {
    @if map-has-key($breakpoints, $breakpoint-name) {
        @media (max-width: map-get($breakpoints, $breakpoint-name)) {
            @content;
        }
    } @else {
        @warn "O breakpoint informado não existe"
    }
}