* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: #030009;
}


img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}


